<html>
  <head>
    <title>
      {{#if loggedin}}
        Welcome {{userName}}
        {{else}}
          User
        {{/if}}
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../../public/styles/style.css">
  </head>
  <body class="container">
    <div class="page-header">
      <h1>Modern Rolodex</h1>
    </div>

    <nav class="navbar navbar-default">
    <div class="container-fluid"></div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/signup">Sign Up</a></li>
          <li><a href="/dashboard">Your Rolodex</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          {{#if loggedin}}
            <li><a href="/logout">Logout</a></li>
          {{else}}
            <li><a href="/login">Login</a></li>
          {{/if}}
        </ul>
      </div>
      </div>
    </nav>

    {{{body}}}

  </body>
</html>