<link rel="stylesheet" href="../public/styles/dashboard.css">

<header> 
    <h1>Your Rolodex</h1>
    <p>The Modern Way to Keep Your Rolodex Turning</p>
</header>
<div class="container">
 	<ul></ul>
	<div class="controls">
		<button onclick="adjustDay(-1)">▲</button>
		<button onclick="adjustDay(1)">▼</button>
	</div>
</div>

<sript src="../js/contact-form.js"></script>