<div class="rolodex">
  <div class="rolodex_next"></div>
  <div class="rolodex_prev"></div>
  <div class="rolodex_holder">
    <div class="rolodex-card">1</div>
    <div class="rolodex-card">2</div>
    <div class="rolodex-card">3</div>
    <div class="rolodex-card">4</div>
    <div class="rolodex-card">5</div>
    <div class="rolodex-card">6</div>
    <div class="rolodex-card">7</div>
    <div class="rolodex-card">8</div>
    <div class="rolodex-card">9</div>
    <div class="rolodex-card">10</div>
    <div class="rolodex-card">11</div>
    <div class="rolodex-card">12</div>
    <div class="rolodex-card">13</div>
    <div class="rolodex-card">14</div>
    <div class="rolodex-card">15</div>
    <div class="rolodex-card">16</div>
    <div class="rolodex-card">17</div>
    <div class="rolodex-card">18</div>
    <div class="rolodex-card">19</div>
    <div class="rolodex-card">20</div>
  </div>
</div>